body {
  margin: 0;
  font-family: "Fredoka";
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ArchitectsDaughter-Regular";
  src: url("./fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka";
  src: url("./fonts/FredokaOne-Regular.ttf") format("truetype");
}
